root = true

[*]
indent_style = tab
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.php]
indent_size = 4
indent_style = space

[*.yml]
indent_style = space
